<form action="/dashboard" method="post" enctype="multipart/form-data">
    <input type="text" name="name" id="name">
    <input type="number" name="price" id="price">
    <input type="file" name="image">
    <button type="submit">button</button>
</form>