* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  height: max-conten;
  width: 320px;
  background-color: #fff;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 20px;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: black;
}

.box {
  transform: translate(0, 40px);
  background-color: lightgreen;
  height: 120px;
  text-align: center;
  padding-top: 30px;
  border-radius: 30px;
}

body {
  background-color: #d2ffef;
}
