<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard </title>
    <link rel="stylesheet" href="/css/dashstyle.css" />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxl-c-plus-plus"></i>
        <span class="logo_name">Fart mate</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Home</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-box"></i>
            <span class="links_name">Revenue</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Uploads</span>
          </a>
        </li>

        <li class="log_out">
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>-   
        </li>
      </ul>
    </div>
    <section class="home-section">

<div class="head">

  <h1>Welcome , username</h1>
</div>

<div class="mainh">

 
    <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <form action="">

<span>Upload your product pic</span>
          <input type="file">
              </form>
            
              <div class="indicator">
                
              </div>
            </div>
           
          </div>
        
          </div>
     
        </div>





        

        <div class="home-content">
          <div class="overview-boxes">
            <div class="box">
              <div class="right-side">
                <form action="">

                  <input type="text" placeholder="Product Name">
                  <input type="text" placeholder="Product Price">

            <input type="text" placeholder="Phone Number">
                </form>
              
                <div class="indicator">
                  
                </div>
              </div>
             
            </div>
          
            </div>
          
            <button type='submit' class="bbtn">Submit</button>
          </div>
         
        </div>

<!-- <div class="textup">
<br><br><br><br><br><br><br>
<br><br><br><br><br><br>
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">
            <img src="" alt="">
          </div>
          <form action="/dashboard" name="product">

          
          </form>
          <span>Enter your product name</span>
          <div class="indicator">
            
            <span class="text">.</span>
          </div>
        </div>
        
      </div>
    </div>
    
  </div> -->

<!-- 
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">
            <img src="" alt="">
          </div>
 
          <form action="" name="price">

          </form>
          <span>Enter Price</span>
          <div class="indicator">
            
            <span class="text">.</span>
          </div>
        </div>
        
      </div>
    </div>
    
  </div> -->

  <!-- <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">
            <img src="" alt="">
          </div>
       
          <form action="" name="contact">

            <input type="text">
          </form>
          <span>Enter your contact details</span>
          <div class="indicator">
            
            <span class="text">.</span>
          </div>
        </div>
        
      </div>
    </div>
    
  </div> -->

  
</div>
  
  
  
</section>
  </body>
</html>
