<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard </title>
    <link rel="stylesheet" href="/public/css/dashstyle.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      
      rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <a href="/views/customer.html">
<img src="/public/images/Farmly.png" alt="" class="img_far">
        </a>
        <span class="logo_name">Farm Mate</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#" >
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Home</span>
          </a>
        </li>
     
        <li>
          <a href="#" class="active">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Uploads</span>
          </a>
        </li>

        <li class="log_out">
          <a href="#">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Log out</span>
          </a>-   
        </li>
      </ul>
    </div>
    
    
<section class="home-section">

<div class="head">

  <h1>Welcome , username</h1>
</div>

<div class="mainh">

 
    <div class="home-content">
        <div class="overview-boxes">
          <div class="box">
            
              <form action="" class="cnt">

<span>Upload your product pic</span>
          <input type="file"  class="fl">
              </form>
           
          </div>
        
          </div>
     
        </div>   

        <div class="home-content">
          <div class="overview-boxes">
            <div class="box">
             
                <form action="" class="text-edit">

                  <input type="text" placeholder="Product Name">
                  <input type="text" placeholder="Product Price">
                  <input type="text" placeholder="Phone Number">
                </form>

             
            </div>
          
            </div>
          
            <button type='submit' class="bbtn">Submit</button>
          </div>
         
        </div>
  
</section>
  </body>
</html>
