<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/similar.css" />
  </head>
  <body>
    <div class="cnt">
      <div class="logo">
        <img src="/public/images/Farmly.png" class="img_logo" alt="" />
      </div>
      <div class="sign">
        <h1>FARM MATE</h1>
        <form action="">
          <label for="">Full Name</label>
          <input type="text" name="name" />
          <label for="">Phone Number</label>
          <input type="text" name="phone" />

          <a href="#">Forget Password</a>

          <button class="sub">SIGN UP</button>
        </form>
      </div>
    </div>
  </body>
</html>
