<<<<<<< HEAD
<form action="/login" method="post">
    email<input type="text" name="email" >
    password:<input type="text" name="password">
=======
<form action="/login" method='post'>
    <input name ='number' type="number">
    <input name = 'passowrd' type="passowrd">
    <button type='submit'>Log In</button>
>>>>>>> e2665acfcd14a819617e5b0dccfd9812d75619cb
</form>