
    <form action="/sign_up" method="post">
        <!-- name -->
        <input name='name' type="text">
        <!-- phone number -->
        <input name='phone' type="number">
        <!-- state -->
        <input name = 'state'type="text" >
        <!-- district -->
        <input name='district' type="text" >
        
        <input name = 'Adress' type="text">
        
        <input name=''type="number" name="pincode">
        
        <select name="id">
            <option value="farmer">farmer</option>
            <option value="customer">customer</option>
        </select>
        <button type="submit">Sign up</button>
    </form>
