@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image: url(lang.png) ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    width:100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
}
.lang{
    align-items: center;
    margin-top: 270px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

select{
    width: 290px;
    height: 30px;
    text-align: center;
    background-color: gray;
}
.buton{
    background-color: gray;
    margin-top: 20px;
    padding: 5px;
    border: none;
    width: 140px;
}

a{
    width: 140px;
}
@media (max-width:820px){

    .lang{
        transform: translate(-323px);
    }
}