*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(page.png);
    overflow: hidden;
    color: white;
    text-transform: capitalize;
}
a{
    text-decoration: none;
    color: black;
}

.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    transform: translate(5px,132px);
}
.cont1
{
    background-color: grey;
    border-radius: 12px;
    width: 12rem;
    text-align: center;
    padding:20px 2px;
    height: 4.5rem;
}
.cont2
{
    background-color: grey;
    border-radius: 12px;
    width: 12rem;
    height: 4.5rem;
    text-align: center;
    padding:20px 2px;
}

