<header class="header">
  <a href="#" class="logo">
    <i class="fas"><img src="logo.jpeg" class="img-logo" alt="" /></i> Farm Mate
  </a>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#shop">shop</a>
    <a href="#gallery">Coming Soon</a>
    <a href="#blogs">Client Reviews</a>
    <a href="#message">Contact Us</a>
  </nav>

  <div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <div id="search-btn" class="fas fa-search"></div>
    <a href="#" class="fas fa-heart"></a>
    <a href="#" class="fas fa-shopping-cart"></a>
  </div>

  <form action="" class="search-form">
    <input type="search" name="" placeholder="search here..." id="search-box" />
    <label for="search-box" class="fas fa-search"></label>
  </form>
</header>

<section class="footer">
  <div class="box-container">
    <div class="box">
      <h3>quick links</h3>
      <a class="link" href="#home"> <i class="fas fa-angle-right"></i> home</a>
      <a class="link" href="#about">
        <i class="fas fa-angle-right"></i> about</a
      >
      <a class="link" href="#shop"> <i class="fas fa-angle-right"></i> shop</a>
      <a class="link" href="#gallery">
        <i class="fas fa-angle-right"></i> gallery</a
      >
      <a class="link" href="#message">
        <i class="fas fa-angle-right"></i> message</a
      >
      <a class="link" href="#blogs">
        <i class="fas fa-angle-right"></i> blogs</a
      >
    </div>

    <div class="box">
      <h3>extra links</h3>
      <a class="link" href="#">
        <i class="fas fa-angle-right"></i> my favorite
      </a>
      <a class="link" href="#"> <i class="fas fa-angle-right"></i> my order </a>
      <a class="link" href="#">
        <i class="fas fa-angle-right"></i> my wishlist
      </a>
      <a class="link" href="#">
        <i class="fas fa-angle-right"></i> private policy
      </a>
      <a class="link" href="#">
        <i class="fas fa-angle-right"></i> terms of use
      </a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a class="link" href="#"> <i class="fas fa-phone"></i> 8606534744 </a>
      <a class="link" href="#"> <i class="fas fa-phone"></i> 8605434744 </a>
      <a class="link" href="#">
        <i class="fas fa-envelope"></i> vishnusdec29@gmail.com
      </a>
      <a class="link" href="#">
        <i class="fas fa-map"></i> Karunagappallly, Kollam
      </a>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <h3>Quick Update</h3>
      <p>subscribe for latest updates</p>
      <form action="">
        <input
          type="email"
          name=""
          placeholder="enter your email"
          id=""
          class="email"
        />
        <input type="submit" value="subscribe" class="btn" />
      </form>
    </div>
  </div>

  <div class="credit">
    created by <span>TEAM FARM MATE</span> | all rights reserved!
  </div>
</section>
