*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo
{
    float: right;
    background-color: #5BE3B2;
    width: 620px;
    height: 1020px;
}
.img_logo{
    transform: translate(87px,84px);
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin-top: 80px;
}
.sign
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}
.sub
{
    background-color: #5BE3B2;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    border : none;
}
@media (max-width:829px){
    .cnt{
        display: flex;
        flex-direction: column;
    }
}